.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
}

.formWrapper {
  background-color: #181818;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 400px;
  color: white;
}

.formWrapper h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #1db954;
}

.formWrapper input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #282828;
  border: 1px solid #404040;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.formWrapper input::placeholder {
  color: #b3b3b3;
}

.formWrapper button {
  width: 100%;
  padding: 15px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.formWrapper button:hover {
  background-color: #1ed760;
}

.error {
  color: #f44336;
  margin-top: 15px;
  text-align: center;
}

.formWrapper p {
    text-align: center;
    margin-top: 20px;
}

.formWrapper p a {
    color: #1db954;
    text-decoration: none;
}

.formWrapper p a:hover {
    text-decoration: underline;
}
